.content {
    flex: 1;
}

.main-heading-cont {
    width: 100%;
    justify-content: center;
}

.main-heading {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem !important;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
    border-radius: 2vh;
    padding: 1vh;
    background-color: #86D3CB;
    text-align: center;
    margin-bottom: 6vh;
}

.left-container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-container {
    width: 50%;

}

.zd-gif {
    width: 13vh;
    height: auto;

}

.gif-cont {
    display: flex;
    justify-content: center;
}

.key-features {
    text-align: center;
    color: black;
    font-size: 1.25rem;
    font-weight: 500;
}

.list-point {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    list-style: none;
}

ol {
    list-style: none;
    padding: 0 !important;

}

ol li::before {
    content: '• ';
    color: black;
}

.list-cont {
    display: flex;
    justify-content: center;
}

.infopole {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

.textcent {
    width: 90%;
}

.qwe {
    display: flex;
    justify-content: center;
}

.heading-container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.heading {
    font-size: 1.5rem;
    color: black;
}

.algo-card {
    height: 30rem;
    width: 18rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0.5vh 0.5vh 0 rgba(0, 0, 0, 0.308);
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card-heading-container {
    height: 18%;
}

.card-heading {
    color: black;
    font-size: 1.3rem;
    text-align: center;
}

.card-text-container {
    height: 48%;
}

.card-text {
    font-size: 1rem;
    color: black;
    text-align: center;
}

.img-container {
    height: 25%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.img-card {
    height: 100%;
}

.details-link-container {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
}

.details-link {
    font-size: 1.1rem;
    color: #4C6965 !important;
}

.textcent {
    width: 70%;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
    flex-wrap: wrap;
}

@media (max-width: 1197px) {
    .infopole {
        flex-direction: column;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
    }

    .list-cont {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .textcent {
        width: 100%;
    }

    .qwe {
        width: 100%;
    }
}