.content {
    margin-bottom: auto;
}

.heading-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}

.heading {
    font-size: 1.3rem;
    font-weight: 600;
}

.infopole {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-right: 3rem;
}

.algo-text-container {
    width: 70vw;
    padding-right: 2rem;
}

.algo-text {
    font-size: 1.1rem;

}

.algo-img-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 30vw;
}

.algo-img {
    width: 25rem;
    height: fit-content;
}

@media (max-width: 1198px) {
    .infopole {
        flex-direction: column-reverse;

    }

    .algo-text-container {
        width: 100%;
        padding: 0;
    }

    .algo-img-container {
        width: 100%;
        margin-bottom: 1rem;
    }

    .algo-img {
        height: 20rem;
        width: 25rem;
    }
}