.content {
    flex: 1 0 auto;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page2 {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-cont{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
}
.howto{
    text-align: center;
    color:rgb(138, 138, 138);
    margin-top: 1rem;
}
.howto:hover{
    color:rgb(0, 0, 0) !important;
}
.heading-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading-cont2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.heading {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.5rem;
}

.subtitle2 {
    font-size: 1.5rem;
}
.description {
    font-size: 1.1rem;
    margin-bottom: -0.03rem;
}
.description a:hover{
    color: #007bff !important;
    text-decoration: underline !important;
}

.download-button-cont {
    display: flex;
    justify-content: center;
}

.download-button {
    width: max-content;
    background-color: #4C6965;
    color: white;
    border: none;
    border-radius: 2vh;
    font-size: 1.4rem;
    padding: 1.5vh;
    margin-top: 5vh;
    transition: opacity 0.2s;
}

.download-button:hover {
    background-color: #435c59;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: white !important;
}
@media (max-width: 1197px) {
    .subtitle{
        text-align: center;
    }
    .description{
        text-align: center;
    }
}
