html, body{
    display: flex;
    flex-direction: column;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(173, 173, 173);
}

.bg-header {
    background-color: black;
}

.navbar .navbar-brand {
    font-size: 2.7vh;
}

.nav-link {
    font-size: 1.9vh;
}

.globe-icon {
    width: 4.5vh;
    height: 4.5vh;
}

.dropdown .btn {
    padding: 0px;
}

.dropdown .btn:focus {
    box-shadow: none;
}

.dropdown .dropdown-menu {
    min-width: 5vh;
    width: 5vh;
    padding: 0;
    border-radius: 0%;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0;
    text-align: center;
}

.dropdown .dropdown-menu .dropdown-item .first {
    border-bottom: 1px solid black;
}

.dropdown .dropdown-menu .dropdown-item .enable {
    background-color: #4C6965;
    color: white;
}

.language-button-mobile {
    display: none;
}

footer {
    margin-top: 5vh;
    height: max-content;
    width: 100%;
    bottom: 0;
    background-color: black;
    flex-shrink: 0;
    display: flex !important;
    flex-direction: row !important;
    color: white;
}

.left-footer-cont{
    width: 70%;
}

.footer-content{
    width: 37%;
    font-size: medium;
    margin-top: 1vh !important;
}

.footer-content a{
    font-size: x-large;
    color: white;
    text-decoration: underline !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 3px;

}

.right-footer-cont{
    width: 30%;
    display: flex !important;
    justify-content: end !important;
}

.footer-links{
    margin-top: 1vh;
    font-size: medium;
    color: white;
    display: flex;
    gap: 4vh;
}
.footer-links a{
    color: white;
}

.footer-links a:hover{
    color: rgb(173, 173, 173);
}

.footer-content a:hover{
    color: rgb(173, 173, 173);
}
@media (max-width: 1197px) {
    .language-button {
        display: none;
    }

    .language-button-mobile {
        display: block;
    }
    .footer-links{
        flex-direction: column;
    }
}