.content{
    flex: 1 0 auto;
}
.main-heading{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3rem !important;
    font-size:x-large;
    font-weight:400;
    border: solid 2px #4C6965;
    border-radius: 2vh;
    padding: 2vh;
}
.heading-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
.heading{
    margin-top: 3rem !important;
    font-size:x-large;
}