.content {
    flex: 1 0 auto;
}

.main-heading-cont {
    width: 100%;
    justify-content: center;
}

.main-heading {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem !important;
    font-size: 2.4vh;
    font-weight: 400;
    border: solid 2px #4C6965;
    border-radius: 2vh;
    padding: 1vh;
}

.heading-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 3rem !important;
    font-size: x-large;
}

.main-cont {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}

.left-cont {
    width: 50%;
}

.list-cont {
    margin-left: 3rem;
}

.right-cont {
    width: 50%;
    display: flex;
    justify-content: end;
}

.gif-cont {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
    height: max-content;
}

.how-to-use-gif {
    width: 90%;
    height: max-content;
}

.content ol {
    list-style: none;
    counter-reset: step-counter;
    padding-left: 0;
}

.content li {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.content li::before {
    counter-increment: step-counter;
    content: counter(step-counter);
    margin-right: 10px;
    font-size: 2vh;
    background-color: #4C6965;
    color: black;
    width: 3vh;
    height: 3vh;
    min-width: 3vh;
    min-height: 3vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.instruction-text {
    font-size: large;
    font-weight: 400;
}
.subtitle{
    font-size: 2vh;
}
.show-button-cont{
    display: flex;
    justify-content: center;
}
.show-button{
    display: none;
}
.rotate{
    transform: rotate(180deg);
}
.show-button-arrow{
    font-size: 4vh;
    font-weight: 300;
    cursor:pointer;
}
.methods-gifs-cont{
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gifs-cont{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
}
.method-gif{
    width: 30vh;
    height: auto;
    margin-bottom:0.5vh ;
}
.method-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    margin-bottom:2vh ;
}

@media (max-width: 1197px) {
    .methods-gifs-cont{
        justify-content: center;
    }
    .main-cont{
        flex-direction: column;
    }
    .left-cont{
        width: 100%;
    }
    .right-cont{
        width: 100%;
        justify-content: center;
    }
    .gif-cont{
        justify-content: center;
        margin-right: 3rem;
        margin-left: 3rem;
    }
    .how-to-use-gif{
        width: 100%;
        height: 20vh;
    }
    .list-cont{
        margin-right: 3rem;
    }
    .method-gif{
        width: 100%;
    }
}