
.navbar-dark .navbar-nav  .nav-link {
    color: white;
    transition: 0.2s;
}

.navbar-dark .navbar-nav  .nav-link:hover {
    color: rgb(173, 173, 173);
}

.bg-header {
    background-color: black;
}

.navbar .navbar-brand {
    font-size: 2.7vh;
}

.nav-link {
    font-size: 1.9vh;
}

.globe-icon {
    width: 4.5vh;
    height: 4.5vh;
}

.dropdown .btn {
    padding: 0px;
}

.dropdown .btn:focus {
    box-shadow: none;
}

.dropdown .dropdown-menu {
    min-width: 5vh;
    width: 5vh;
    padding: 0;
    border-radius: 0%;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0;
    text-align: center;
}

.dropdown .dropdown-menu .dropdown-item .first {
    border-bottom: 1px solid black;
}

.dropdown .dropdown-menu .dropdown-item .enable {
    background-color: #4C6965;
    color: white;
}
.language-button-mobile{
    display: none;
}
@media (max-width: 1197px) {
    .language-button{
        display: none;
    }
    .language-button-mobile{
        display: block;
    }
}