.container{
    color: white;
}

.main-left p{
    font-size: 2.3vh;
    width: 60%;
    line-height: 3.6vh;
}
.cont{
    display: flex;
    flex-direction: row;
}
.main-left{
    width: 50%;
}
.main-right{
    width: 50%;
}
.cube-pic{
    width: 60vh;
}
.download-button{
    width: 25vh;
    background-color: #4C6965;
    color: white;
    border: none;
    border-radius: 2vh;
    font-size: 2.3vh;
    padding: 1.5vh;
    margin-top: 5vh;
    transition: 0.2s;
}
.download-button-ua{
    width: 25vh;
    background-color: #4C6965;
    color: white;
    border: none;
    border-radius: 2vh;
    font-size: 2vh;
    padding: 1.5vh;
    margin-top: 5vh;
    transition: 0.2s;
}
.download-button-ua::before{
    content: 'Завантажити на GitHub';
}
.download-button::before{
    content: 'Download on GitHub';
}
.download-button:focus, .download-button-ua:focus{
    outline: none;
}
.download-button:hover, .download-button-ua:hover{
    background-color:#435c59;
}
footer{
    position:fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
    background-color: black;
}
a{
    text-decoration: none !important;
}
@media (max-width: 1197px) {
    .main-left{
        width: 100%;
    }
    .main-left p{
        width: 90%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: -3.5vh;
    }
    .main-right{
        display: none;
    }
    .heading-cont h3{
        margin-top: 2vh !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 90%;
    }
    .main-left .button-cont{
        text-align: center;
    }
    .main-left .download-button{
        margin-left: 0 !important;
    }
    .main-left .download-button-ua{
        margin-left: 0 !important;
    }
    .download-button::before{
        content: 'Download on PC';
    }
    .download-button-ua::before{
        content: 'Завантажити на PC';
    }
}